.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.tabela-wrapper {
  width: 90%;
  max-width: 1000px;
  max-height: 80vh;
  overflow-y: auto;
  border: 2px solid black;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;

}

th, td {
  padding: 10px;
  text-align: center;
  border: 2px solid black;
}

th {
  background-color: #333;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
